body {
  background-color: #121212;
  height: 1500px;
  width: 100%;
}

header {
  background-color: #272727fa;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

aside {
  position: absolute;
  top: 55px;
  right: 1px;
  width: 28%;
  height: 1500px;
}

.right-icons {
  position: absolute;
  right: 0;
}

.searchbar {
  background-color: #121212;
  color: #e2e2e2;
  width: 433px;
  height: 28px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  position: fixed;
  top: 12px;
  left: 350px;
  border: 1px #303030 solid;
  border-radius: 3px;
  padding-left: 10px;
}

.searchbar::placeholder {
  color: #737373;
  padding-left: 1px;
}

.searchbar:focus {
  border: 1px #1c62b9 solid;
  outline: none;
}

.searchglass {
  position: fixed;
  top: 12px;
  left: 796px;
}

.video {
  position: absolute;
  top: 70px;
  left: 25px;
  width: 100%;
}

.video iframe {
  width: 69vw; 
  height: 38.8vw;
}

.title {
  /* background-color: aqua; */
  position: absolute;
  top: 43.8vw;
  left: 25px;
  
  width: 69%;
  margin: 0 0;
}

.text {
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
}

.view-count {
  font-size: 16px;
  color: #aaaaaa;
  width: 992px;
}

.likes {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 47px;
  left: 60%;
}

.channel {
  border-top: 1px solid #3f3f3f;
  padding-top: 20px;
  border-bottom: 1px solid #3f3f3f;
  padding-bottom: 30px;
}

.channel-picture {
  border-radius: 100px;
  float: left;
  margin-right: 10px;
}

.channel-name {
  font-size: 14px;
}

.channel-published {
  color: #aaaaaa;
  font-size: 13px;
  margin-top: -10px;
}

.subscribe-button {
  float: right;
  background-color: #CC0000;
  border: none;
  border-radius: 2px;
  width: 141px;
  height: 36px;
  color: white;
  font-size: 14px;
  position: relative;
  top: -50px;
  right: 20px;
}

.small-text {
  font-size: 14px;
}

.subscribe-button:focus {
  outline: none;
}

.description {
  margin-left: 60px;
}

.parental-warning {
  color: #aaaaaa;
  float: left;
  margin-right: 20px;
  margin-top: 0;
}

.comment-count {
  font-size: 16px;
  float: left;
  margin-right: 40px;
}

.sort-by {
  width: 87.5px;
  position: relative;
  top: 12px;
}

.profile-picture {
  border-radius: 100px;
  display: block;
  width: 40px;
  position: relative;
  top: 20px;
  left: -170px;
}

.comment-box {
  position: relative;
  left: 50px;
  top: -15px;
  background-color: #121212;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  padding-bottom: 5px; 
  color: white;
  width: 95%;
}

.comment-box:focus {
  outline: none;
}

.comment-box::placeholder {
  color: #737373;
}

.first-comment {
  margin-top: 24px;
  width: 70%;
  position: relative;
}

.comment {
  margin-top: 24px;
  width: 70%;
  position: relative;
}

.comments {
  display: block;
}

.comment-picture {
  border-radius: 100px;
  float: left;
}

.commenter-name {
  font-size: 13px;
  margin-left: 10px;
  position: relative;
  top: -10px;
  float: left;
}

.comment-time {
  font-size: 13px;
  color: #888888;
  margin-left: 125px;
  position: relative;
  top: 3px;
}

.comment-text {
  font-size: 14px;
  margin-left: 120px;
  position: relative;
  left: -65px;
}

.like-image {
  position: relative;
  left: 50px;
  top: -8px;
  float: left;
}

.like-count {
  position: relative;
  left: 60px;
  top: -7px;
  color: #aaaaaa;
  font-size: 13px;
}

.dislike-image {
  position: relative;
  left: 110px;
  top: -34px;
  float: left;
}

.reply {
  color: #909090;
  font-size: 13px;
  position: relative;
  left: 150px;
  top: -35px;
}

.replies {
  font-size: 14px;
  float: left;
  position: relative;
  top: -50px;
  left: 49px;
}

.replies-arrow {
  position: relative;
  top: -38px;
  left: 54px;
}

/* RIGHT SIDE */
.autoplay {
  font-size: 13px;
  color: #aaaaaa;
  position: absolute;
  top: 15px;
  right: 70px;
}

.thumbnail-text {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail-div {
  display: block;
  margin-top: 10px;
  height: 100px;
}

.thumbnail-text-gray { 
  justify-content:flex-start; 
  flex-direction: column; 
  font-size: 13px;
  padding-left: 100px;
  color: #aaaaaa;
  margin: 3px 0;  
}

.thumbnail-image {
  float: left;
  margin-right: 10px;
}

.first {
  border-bottom: #303030 1px solid;
  height: 100px;
}



/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 34px;
  right: 20px;
  top: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3f3f3f;
  -webkit-transition: .4s;
  transition: .4s;
  height: 18px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: -2px;
  bottom: -2px;
  background-color: #aaaaaa;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider.round::before {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}