body {
  background-color: #121212;
  height: 1500px;
  width: 100%;
}

header {
  background-color: rgba(155, 49, 49, 0.466);
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

section {
  background-color: aqua;
  position: absolute;
  left: 0;
}

aside {
  background-color: greenyellow;
}

section iframe {
  position: absolute;
  top: 70px;
  left: 25px;
}

.title {
  background-color: white;
  position: absolute;
  top: 670px;
}