body {
  background-color: #121212;
  height: 1500px;
  width: 100%;
}

header {
  background-color: #272727fa;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

aside {
  background-color: greenyellow;
  position: absolute;
  top: 70px;
  right: 1px;
  width: 28%;
  height: 1500px;
}

.right-icons {
  position: absolute;
  right: 0;
}

.searchbar {
  background-color: #121212;
  color: #e2e2e2;
  width: 433px;
  height: 28px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  position: fixed;
  top: 12px;
  left: 350px;
  border: 1px #303030 solid;
  border-radius: 3px;
  padding-left: 10px;
}

.searchbar::placeholder {
  color: #737373;
  padding-left: 1px;
}

.searchbar:focus {
  border: 1px #1c62b9 solid;
  outline: none;
}

.searchglass {
  position: fixed;
  top: 12px;
  left: 796px;
}

.video {
  position: absolute;
  top: 70px;
  left: 25px;
  width: 100%;
}

.video iframe {
  width: 69%;
}

.title {
  /* background-color: aqua; */
  position: absolute;
  top: 630px;
  left: 25px;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  width: 69%;
  margin: 0 0;
  border-bottom: 1px solid #3f3f3f;
}

.view-count {
  font-size: 16px;
  color: #aaaaaa;
  width: 992px;
}

.likes {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 47px;
  left: 580px;
}